body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgba(149, 152, 231, 0.846);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgba(9, 115, 148, 0.601);
  text-align: center;
  padding: 20px 0px 1px;
  margin-bottom: 30px;
}

main {
  background-color: white;
  margin: auto;
  border-radius: 10px;
  width: 47.5%;
  min-width: 280px;
  padding: 10px;
}

footer {
  background-color: rgba(210, 210, 255, 0.5);
  text-align: center;
  margin-top: 60px;
  padding: 1px;
}

h1 {
  margin: 0;
}

label {
  display: block;
  font-size: 32px;
  font-weight: 700;
  margin: 10px 0px 40px 15px;
}

input {
  display: block;
  margin: auto;
  width: 200px;
  height: 40px;
}

a {
  text-decoration: none;
  color: unset;
}

#botao {
  background-color: blue;
  border-radius: 3px;
  height: 40px;
  width: 100px;
  margin: 30px;
  cursor: pointer;
}

#container {
  margin: auto;
  width: fit-content;
}
